<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @figure.name %></title>
  </head>
  <body>
    <li><h3><%= @figure.name %></h3></li>
    <ul>
      <h4>Titles:</h4>
      <% @figure.titles.each do |title| %>
      <li><%= title.name %></li>
      <% end %>
    </ul>
    <ul>
      <h4>Landmarks:</h4>
      <% @figure.landmarks.each do |landmark| %>
      <li><%= landmark.name %></li>
      <% end %>
    </ul>
  </body>
</html>
